body {
  font-family: "Montserrat", sans-serif;
  /* font-size: 0.9rem; */
}

input {
  width: 300px;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin-bottom: 2rem;
}

input:focus {
  /* box-shadow: 0 0 15px 0 violet; */
  /* outline: 2px solid rgb(0, 195, 255); */
  background-color: skyblue;
}
